pytest==7.1.2
PyYAML==6.0
requests==2.27.1
py3curl==1.1.3 # py3curl是一个Python库，它可以将Python中的requests请求转换为cURL命令，方便开发人员在终端中进行调试和测试。
allure-pytest==2.9.45
pytest_ordering==0.6 #pytest控制用例执行顺序的包
pytest-dependency # 控制pytest用例依赖的包
pytest-rerunfailures==10.2  # 控制pytest用例失败重跑的插件
pytest-html==3.1.1  # pytest展示报告
psycopg2-binary==2.9.6 # 用于链接PostgreSQL数据库的包
pymysql==1.0.3
DBUtils==3.0.2  # 是Python的一个用于实现数据库连接池的模块
cryptography==40.0.2 # 在使用MySQL8.0的SHA256密码或缓存SHA2密码身份验证时依赖的包